body {
    background-image: url("creamtexturebackground.jpg");
}

#padding {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 0px;
    padding-left: 30px;
} 

#bigbox {
	width: 1200px;
	height: 600px;
	padding: 10px;
	background-color: transparent;
	border-style: solid;
	border-width: 2px;
	border-color: #7ec9de;
	margin-left: auto;
	margin-right: auto;
}

#square1 {
	width: 200px;
	height: 700px;
	padding: 10px;
	background-color: transparent;
	margin-top: 20px;
	border-style: solid;
	border: 2px;
	border-color: black;
}

#square2 {
	width: 500px;
	height: 700px; 
	padding: 10px;
	background-color: transparent;
	margin-top: -550px;
	margin-left: 500px; 
	color: transparent;
	border:2px;
	border-color: black;

}

ul {
	list-style-type: none;
}

#middlepage {
	margin: 0 auto;
	background: url('images/hr.png') no-repeat right 26px;
	width: 1022px;
	overflow: hidden;

#list {
	float: left;
	padding: 0;
	width: 220px;
}

#content {
	margin: 0;
	vertical-align: top;
}


